# Created by .ignore support plugin (hsz.mobi)
*.iml
.idea/
library/target/
websub/target/
hub/target/
rest/node_modules/
rest/node/
rest/dist/
rest/e2e/
websocket/node_modules/
websocket/node/
websocket/dist/
websocket/e2e/
/basicwebsocket/basicwebsocket/e2e/
/basicwebsocket/basicwebsocket/node_modules/
