

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Redirecting to {url}</title>
    <script src="https://code.jquery.com/jquery-1.9.1.min.js"></script>
    <script>
        $( document ).ready(function() {
            console.log( "document loaded" );
        });

        $( window ).on( "load", function() {
            console.log( "window loaded" );
        });
    </script>
    <script type = "text/javascript" language = "javascript">
        $(document).ready(function() {

            $("#driver").click(function(event){

                $.post(
                    "http://localhost:8080/oauth/authorize?response_type=code&client_id=fhircasthub&redirect_uri=http://localhost:8080/test.html&launch=xyz123&scope=read&state=98wrghuwuogerg97&aud=https://ehr/fhir"
                    ,{ },
                    function ready (data, status) {
                        console.log('a');
                        console.log(data);
                        console.log(status);
                    }
                );

            });

        });
    </script>
</head>

<body>
<p>Click on the button to load result.html file −</p>

<div id = "stage" style = "background-color:cc0;">
    STAGE
</div>

<input type = "button" id = "driver" value = "Load Data" />
</body>
</html>